.app-outer{
  min-height: 100vh;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
}


.sidebar-container {
  flex-grow: 1;
  background-color: #02182B;
  max-width: 25vw;
}

.main-container {
  flex-grow: 3;
  background-color: #00A6ED;
  max-width: 75vw;
}

.rdtCounters{
  display: flex;
}